# QSSI ueventd configuration

# DRM
/dev/dri/card0 0660 system graphics

# Graphics
/dev/kgsl-3d0 0666 system system
/dev/ion 0666 system system

# Keymaster
/dev/keymaster 0660 system system
/dev/tee0 0660 system system
/dev/teepriv0 0660 system system